<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='./templates/css/index.css' rel='stylesheet'>
    <title>T'as pigé</title>
</head>
<body>
    <header>
        <div id="logo">
            <a href="/"><img src="./templates/img/logo.png" alt="logo" height="100px"></a>
        </div>
        <div id="nav">
            <a class="nav_items blue" href="/" >Accueil</a>
            <a class="nav_items vert" href="/" >Réglement</a>
            <a class="nav_items jaune" href="/" >Contact</a>
        </div>
    </header>
    <div class="error_body">
    <h1 class="errorh"><span class="error_bleu">E</span>
        <span class="error_vert">R</span>
        <span class="error_jaune">R</span>
        <span class="error_rouge">E</span>
        <span class="error_bleu">U</span>
        <span class="error_vert">R</span>
        <span class="error_jaune"> </span>
        <span class="error_rouge">4</span>
        <span class="error_bleu">0</span>
        <span class="error_vert">4</span>
    </h1>
    <p class="error">Page introuvable!</p>
    </div>
    <script src='./templates/js/style.js'></script>
</body>
</html>