<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='shortcut icon' type='image/gif' href='./templates/img/logo-icone(1).gif'>
    <link href='./templates/css/index.css' rel='stylesheet'>
    <title>TAPIGÉ</title>
</head>
<body id="reset">
    <header>
        <div id="logo">
            <img src="./templates/img/logo.png" alt="logo" height="100px">
        </div>
        <div id="nav">
            <a class="nav_items blue" href="/" >Reset</a>
        </div>
    </header>
    <div id="main">
        <h1 class="annim"><img src="./templates/img/logo.png" alt="logo" height="300px" ><div class="roller">
          <span id="rolltext">LEARN<br/>
          SEO<br/>
          FUN<br/>
          <span id="spare-time">ready<img src="./templates/img/logo.png" alt="logo" height="25px"></span><br/>
          </div>
        </h1>
        <div id="goo">
            <img src="./templates/img/triangle.png" alt="logo" height="100px" >
        </div>  
        <video id="video" controls autoplay muted>
            <source src="./templates/img/Render.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video> 
    </div>
    <div id="game_set">
        <div id="nmbr">
            <h1 id="set">Nombre d'équipes</h1>
            <div id="choixj">
                <h4 id="j2" class="joueur joueur2 ">2</h4>
                <h4 id="j3" class="joueur joueur3 ">3</h4>
                <h4 id="j4" class="joueur joueur4_clicked ">4</h4>
            </div>
            <h5 id="start"><img src="./templates/img/triangle.png" alt="logo" height="50px" ></h5>
        </div>
    </div>
    <div id="gameboard">
        <div id="vrai">
            
        </div>
        <div id="faux">
            
        </div>
        <div id="counter"></div>
        <div class="modal" id="modal">
        <div id="difficulte">
            <h1 id="diff">joueur bleu choisis la difficulté</h1>
            <div id="choixdifficulte">
                <div class="choixdifficulte1">
                <img src = "./templates/img/carte 1.svg" id="d1" class="difficulte difficulte1_clicked" alt="difficulte1"></img>
                <img src = "./templates/img/carte 2.svg" id="d2" class="difficulte difficulte2" alt="difficulte2"></img>
                <img src = "./templates/img/carte 3.svg" id="d3" class="difficulte difficulte3" alt="difficulte3"></img>
                </div>
                <div class="choixdifficulte1">
                <img src = "./templates/img/carte 4.svg" id="d4" class="difficulte difficulte4" alt="difficulte4"></img>
                <img src = "./templates/img/carte 5.svg" id="d5" class="difficulte difficulte5" alt="difficulte5"></img>
                <img src = "./templates/img/carte 6.svg" id="d6" class="difficulte difficulte6" alt="difficulte6"></img>
                </div>
            </div>
        </div>
        <div id="question" >
            <h1 id="question_text"></h1>
            <div class="reponse">
            <div id="choix1" class="choix btn"></div>
            <div id="choix2" class="choix btn"></div>
            <div id="choix3" class="choix btn"></div>
            <div id="choix4" class="choix btn"></div>
            </div>
        </div>
        </div>
        <canvas id="canvas" width="800" height="720"></canvas>
    </div>
    <script src='./templates/js/style.js'></script>
</body>
</html>