<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='./templates/css/style.css' rel='stylesheet'>
    <title>T'as pigé</title>
</head>
<body>
    <header>
        <div id="logo">
            <a href="/"><img src="./templates/img/logo.png" alt="logo" height="100px"></a>
        </div>
        <div id="nav">
            <a class="nav_items blue" href="/" >Accueil</a>
            <a class="nav_items vert" href="/" >Réglement</a>
            <a class="nav_items jaune" href="/" >Contact</a>
        </div>
    </header>
    <div id="main">
        <h1 class="annim">TAPIGÉ <div class="roller">
          <span id="rolltext">LEARN<br/>
          SEO<br/>
          FUN<br/>
          <span id="spare-time">Are you ready<img src="./templates/img/logo.png" alt="logo" height="25px"></span><br/>
          </div>
        </h1>
        <div id="goo">
            <p class="boutton_text">PLAY</p>
        </div>  
        <video id="video" controls autoplay muted>
            <source src="./templates/img/Render.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video> 
    </div>
    <div id="game_set">
        <div id="nmbr">
            <h1 id="set">Nombre d'équipe</h1>
            <div id="choixj">
                <h4 id="j2" class="joueur joueur2 ">2</h4>
                <h4 id="j3" class="joueur joueur3 ">3</h4>
                <h4 id="j4" class="joueur joueur4_clicked ">4</h4>
            </div>
            <h5 id="start"><span class="boutton_text">Commencer</span></h5>
        </div>
    </div>
    <div id="gameboard">
        <button id="move" onclick="MovePlayerCase(1,1);PrintPlayers()">Move</button>
        <image id="board" src="./templates/img/plateau (1).svg" alt="board" height="500px" hidden>
        <canvas id="canvas" width="500" height="500"></canvas>
    </div>
    <script src='./templates/js/style.js'></script>
</body>
</html>